@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400display=swap');

*{
     scroll-behavior: smooth;
     font-family: 'Raleway', sans-serif;}
body {
    margin: auto;
    max-width: 1400px;
}

header, main, footer {
    margin: 0 2% 0 2%;
}

header .navBar{
    display: flex;
    justify-content: space-between;
}

.navBar h1 img {
    width: 62px;
    height: 20px;
    padding-top: 25px;
}

nav {
    display: flex;
}

nav a {
    font-size: 16px;
    text-decoration: none;
    color: black;
    padding-top: 48px;
    padding-bottom: 50px;
    padding-right: 35px;
    padding-left: 35px;
    border-top: rgba(255, 255, 255, 0) solid 2px;
}

nav a:hover {
    color: #0065FC;
    border-top: #0065FC solid 2px;
}

.searchIntro h3 {
    font-size: 22px;
    margin-bottom: 0px;
}

.searchIntro p {
    font-size: 16px;
    margin-top: 8px;
}

.searchButton {
    height: 50px;
    display: flex;
}

.searchButton label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    background-color: #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.searchButton input {
    height: 50px;
    border: #F2F2F2 solid 2.6px;
    padding-left: 10px;
    font-size: 18px;
}

.searchButton button {
    height: 50px;
    padding: 12px;
    background-color: #0065FC;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 18px;
}

.searchIcon {
    display: none;
}

.filter {
    margin: 20px 15px 0px 0px ;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
}

.filter ul {
    display: flex;
    list-style: none;
    padding-left: 10px;
}

.filter ul li {
    padding: 12px 15px 12px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #D9D9D9;
    border-radius: 100px;
    margin: auto 15px auto 0px;
}

.filter ul li i {
    padding-right: 10px;    
    padding-left: 5px;
    color: #0065FC;
    text-align: center;
    font-size: 22px;
}

.filter ul li:hover {
    background-color: #DEEBFF;
}

.fa-info {
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    color: #0065FC;
    padding: 8px 12px;
    margin: 10px 10px 10px 0 ;
}

.lodging {
    display: flex;
    justify-content: space-between;
}

.blueIcon {
    color: #0065FC;
    font-size: 12px;
}

.greystar {
    color: #D9D9D9;
    font-size: 12px;
}

.lodging section {
    width: 64%;
    height: 626px;
    background-color: #F2F2F2;
    border-radius: 20px;
}

.lodging section h2 {
    margin: 40px 4% 30px 4%;
    font-size: 22px;
}

.cardList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 4% 10px 4%;
}

.card {
    width: 31%;
    height: 199px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgb(194, 194, 194);
    text-decoration: none;
    margin-bottom: 30px;
    color: black;
}

.card img {
    object-fit: cover;
    box-sizing: border-box;
    border: solid 5px white ;
    border-radius: 20px 20px 0 0 ;
    width: 100%;
    height: 124px;
}

.card div h4,.card div p, .card div div {
    margin: 0px auto 2% 3%;
}

.card div h4, .popularContainer div h4 {
    font-size: 14px;
}

.card div p, .popularContainer div p{
    font-size: 12px;
}

span {
    font-weight: bold;
}

.card:hover, .popularCard a:hover, .lobbiescard a:hover {
    box-shadow: 0 8px 16px 0 rgb(184, 184, 184);
    transition: 200ms;
}

.filter:hover {
    cursor: pointer;
}

.more a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 18px;
}

.more {
    margin: 20px;
}

aside {
    background-color: #F2F2F2;
    width: 35%;
    height: 626px;
    border-radius: 20px;
}

.popularTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10% 10px 8%;
}

.popularTitle h2, .lobbies h2 {
    font-size: 22px;
}

.fa-chart-line {
    font-size: 18px;
}

.popularCard {
    margin: 10px 10% 20px 8%;
}

.popularCard a{
    display: flex;
    height: 144px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgb(194, 194, 194);
    background: white;
    text-decoration: none;
    color: black;
    margin: 10px 0% 20px 0%;
}

.popularCard a img{
    box-sizing: border-box;
    object-fit: cover;
    border: white 5px solid;
    border-radius: 20px 0px 0px 20px;
    width: 137px;
    height: 100%;
} 

.popularContainer div h4, .popularContainer div p {
    margin: 0% 5px 10px 0px;
}

.popularContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 4% 0px 3% 3%;
} 

.lobbies {
    margin-top: 50px;
}

.lobbiescard {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.lobbiescard a {
    width: 23%;
    height: 445px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgb(194, 194, 194);
    text-decoration: none;
}

.lobbiescard a img {
    width: 100%;
    height: 389px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.lobbiescard a h4 {
    color: black;
    margin:auto 4%;
    height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
}

footer {
    background: #F2F2F2;
    height: 225px;
    margin-top: 50px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
    width: 70%;
    margin-left: 5%;
}

footer h2 {
    font-size: 21px;
}

footer li {
    font-size: 15px;
}

footer div ul{
    list-style: none;
    padding: 0;

}

@media screen and (max-width: 992px) {


    .lodging {
        flex-direction: column;
    }

    aside  {
        width: 100%;
        margin: 30px 0 0 0;
    }

    .lodging section {
        margin: 0;
        width: 100%;
    }

    .popularCard {
        display: flex;
        justify-content: space-between;
    }

    .popularTitle, .popularCard {
        margin: 10px 4% 10px 4%;
    }
   
    .popularCard a img {
        width: 105px;
    }

    .popularCard a {
        width: 32%;
    }

    aside {
        height: 280px;
    }

    .lobbiescard a {
        height: 267px;
    }

    .lobbiescard a img {
        height: 210px;
    }

    footer {
        height: 225px;
    }


}

@media screen and (max-width: 768px) {
    body {
        margin: 0px
    }

    header, main, footer {
        margin: 0;
    }

    .navBar h1 img {
        padding-top: 0px;
    }

    .searchIcon {
        display: block;
        width: 50px
    }

    .searchText {
        display: none;
    }

    form  {
        width: 100%;
        justify-content: center;
    }

    input {
        width: 70%;
    }

    .navBar {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        font-size: 14px;
        width: 50%;
        padding: 25px 0 ;
        text-align: center;
        border-top: none;
        border-bottom: #F2F2F2 3px solid;
    }

    nav a:hover {
        border-top: none;
        border-bottom: #0065FC 3px solid;
    }

    nav {
        width: 100%;
    }

    .searchIntro, .info {
        margin: auto 4%;
    }

    .form {
        display: flex;
        justify-content: center;
    }

    .filter h3 {
        margin: 10px 0 0 4%;
    }
    .filter {
        align-items: baseline;
        flex-direction: column;
        margin: 10px 0 0 0;
    }

    .filter ul {
        width: 100%;
        padding: 0;
        margin: 0;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .filter ul li {
        margin: 10px 0;
        padding-bottom: 5px;
        font-size: 10px;
        padding: 10px;
        width: 40%;
        justify-content: flex-start;
    }

    .lodging {
        flex-direction: column-reverse;
    }

    aside {
        height: 580px;
        border-radius: 0;
        margin: 15px 0 0 0 ;
    }

    .lodging section {
        background-color:  white;
    }

    .lodging section h2 {
        margin: 30px 4% 15px 4%;
    }

    .popularCard a , .cardList a {
        width: 100%;
        margin: 5px 0 10px 0;
    }

    .popularCard a img {
        width: 137px;
    }

    .cardList, .popularCard {
        flex-direction: column;
        margin: 0px 4% 0px 4%;
    }

    .lodging section {
        margin: 0;
        height: 1400px;
    }

    .lobbiescard {
        flex-direction: column;
        width: 100%;
    }

    .lobbies {
        margin: 0px 4% 0px 4%;
    }

    .lobbies h2 {
        margin: 20px 0 10px 0;
    }

    .lobbiescard a {
        width: 100%;
        margin: 10px 0 ;
        height: 190px;
    }

    .lobbiescard a img {
        height: 134px;
    }

    footer {
        height: 500px;
        margin-top: 35px;
        padding-top: 20px;
    }

    .footer {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .footer div {
        margin: 0 30px;
    }

    footer div li {
        margin: 10px 0 ;
    }
}